@page "{id:int}"
@model EditLeaseAgreementModel
@{
    ViewData["Title"] = "Редагування договору оренди";
}

<h2>Редагування договору оренди</h2>

<form method="post">
    <!-- Приховане поле для Id -->
    <input type="hidden" asp-for="LeaseAgreement.Id" />

    <div class="form-group">
        <label asp-for="LeaseAgreement.Number"></label>
        <input asp-for="LeaseAgreement.Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LeaseAgreement.Date"></label>
        <input asp-for="LeaseAgreement.Date" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label asp-for="LeaseAgreement.TermInYears"></label>
        <input asp-for="LeaseAgreement.TermInYears" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LeaseAgreement.EconomicActivities"></label>
        <input asp-for="LeaseAgreement.EconomicActivities" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a href="../Ponds/Index" class="btn btn-secondary">Відмінити</a>
</form>