@page "{id:int}"
@model EditWaterUsagePermitModel
@{
    ViewData["Title"] = "Редагування дозволу на водокористування";
}

<h2>Редагування дозволу на водокористування</h2>

<form method="post">
    <input type="hidden" asp-for="WaterUsagePermit.Id" />
    <div class="form-group">
        <label asp-for="WaterUsagePermit.Number"></label>
        <input asp-for="WaterUsagePermit.Number" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="WaterUsagePermit.StartDate"></label>
        <input asp-for="WaterUsagePermit.StartDate" class="form-control" type="date"/>
    </div>
    <div class="form-group">
        <label asp-for="WaterUsagePermit.TermInYears"></label>
        <input asp-for="WaterUsagePermit.TermInYears" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a href="../Ponds/Index" class="btn btn-secondary">Відмінити</a>
</form>