@page "{id:int}"
@model EditLesseeModel
@{
    ViewData["Title"] = "Редагування орендаря";
}

<h2>Редагування орендаря</h2>

<form method="post">
    <input type="hidden" asp-for="Lessee.Id" />
    <div class="form-group">
        <label asp-for="Lessee.Name"></label>
        <input asp-for="Lessee.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Lessee.Type"></label>
        <input asp-for="Lessee.Type" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Lessee.IdentificationCode"></label>
        <input asp-for="Lessee.IdentificationCode" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">Зберегти</button>
    <a href="../Ponds/Index" class="btn btn-secondary">Відмінити</a>
</form>